<nav class="flex items-center justify-between flex-wrap py-3 bg-teal w-full m-0">

  <div class="flex items-center flex-no-shrink text-white mr-6">
    <a class="pr-4" href="../"><span>🏠</span></a>
    <a href="../"><span class="font-semibold text-xl tracking-tight cursor-pointer">PeakIT Front-End Intro</span></a>
  </div>

  <div class="block inline lg:hidden">
    <button id="expandNav" class="mr-4 flex items-center px-3 py-2 border rounded text-teal-lighter border-teal-light hover:text-white hover:border-white">
      Collapse
    </button>
  </div>

  <div id="navList" class="w-screen px-4 py-2 bg-teal block flex-grow lg:flex lg:items-center lg:w-auto lg:py-0 reveal">
    <div class="text-sm lg:flex-grow">
      <a id="helloWorldLink" class="block mt-4 lg:inline-block lg:mt-0 text-teal-lighter hover:text-white mr-4 cursor-pointer" href="../helloWorld">Hello World</a>
      <a id="projectLink" class="block mt-4 lg:inline-block lg:mt-0 text-teal-lighter hover:text-white mr-4 cursor-pointer" href="../project">CuckNorris App</a>
      <a id="agendaLink" class="block mt-4 lg:inline-block lg:mt-0 text-teal-lighter hover:text-white mr-4 cursor-pointer" href="../agenda">Agenda</a>
      <a id="hithubLink" class="block mt-4 lg:inline-block lg:mt-0 text-teal-lighter hover:text-white cursor-pointer" href="https://github.com/florinasavei/ResponsiveWebDev_PeakIT2018/tree/master/__presentation" target="_blank">Docs</a>
    </div> 
  </div>

</nav>
