progress::-webkit-progress-bar {
    background-color: var(--progres-bar-background);
    border-radius: 9px
}

progress::-webkit-progress-value {
    background: var(--progres-bar-main);
    background: -moz-linear-gradient(top, var(--progres-bar-main) 0%, var(--progres-bar-gradient) 100%);
    background: -webkit-linear-gradient(top, var(--progres-bar-main) 0%, var(--progres-bar-gradient) 100%);
    background: -o-linear-gradient(top, var(--progres-bar-main) 0%, var(--progres-bar-gradient) 100%);
    background: -ms-linear-gradient(top, var(--progres-bar-main) 0%, var(--progres-bar-gradient) 100%);
    background: linear-gradient(to bottom, var(--progres-bar-main) 0%, var(--progres-bar-gradient) 100%);
    border-radius: 9px
}

progress::-moz-progress-bar {
    background: var(--progres-bar-main);
    background: -moz-linear-gradient(top, var(--progres-bar-main) 0%, var(--progres-bar-gradient) 100%);
    background: -webkit-linear-gradient(top, var(--progres-bar-main) 0%, var(--progres-bar-gradient) 100%);
    background: -o-linear-gradient(top, var(--progres-bar-main) 0%, var(--progres-bar-gradient) 100%);
    background: -ms-linear-gradient(top, var(--progres-bar-main) 0%, var(--progres-bar-gradient) 100%);
    background: linear-gradient(to bottom, var(--progres-bar-main) 0%, var(--progres-bar-gradient) 100%);
    border-radius: 9px
}

.progress-value {
    padding: 0px 5px;
    line-height: 20px;
    margin-left: 5px;
    font-size: .8em;
    color: #555;
    height: 18px;
    float: right
}